html{
  scroll-behavior: smooth;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.fieldContainer {
  height: 60vh;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 25vh;
}
