
.progressBar {
    width: 100%;
    background-color: beige;
    height: 70px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    opacity: 0.9;
    border-top: 2px solid #ccc;
}

.container {
    padding-left: 10vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    height: 100%;
}

.inner {
    flex-basis: 25%;
}

.label {
    padding: 0;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.bar {
    height: 1vh;
    background-color: #ccc;
}